In [ ]:
"""Assignment2 Python Excersices
   Alejandra Hernandez Partida 1803279
   N4-N6"""

In [28]:
#Excersice 1
name = input("Enter your name please: ")
if name in ("Ana", "John", "Peter"):
  print("Invalid Entry")

else:
  print ("Welcome", name)

Enter your name please: Ana
Invalid Entry

In [55]:
#Excercise 2
lst = [11, 22, 33, 44, 55, 66]
l.reverse()
print("Last Element : "+ str(l [0]))
l = []
for i in lst:
	l.insert(0, i)
print(l)

Last Element : 66
[66, 55, 44, 33, 22, 11]

In [39]:
# Excercise 3
phrase = ["Hi", "teacher!", "How", "are", "you?"]
def print_in_frame(*phrase):
  size = max(len(word) for word in phrase)
  print('*' * (size + 4))
  for word in phrase:
    print('* {:<{}} *'.format(word, size))
  print('*' * (size + 4))

print_in_frame(*phrase)

************
* Hi       *
* teacher! *
* How      *
* are      *
* you?     *
************